<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/newBlog.css">
    <title>New Blog</title>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <i class="fa-solid fa-bars menu"></i>
            <a href="/home">
                <h1>READER</h1>
            </a>
            <ul class="right">
                <li><i class="fa-regular fa-bell bell"></i></li>
                <li><a href="/user/<%= user.username %>"><img src="images/profile.jfif" alt="profile"
                            class="avatar"></a>
                </li>
                <li>
                    <a href="logout">
                        <div class="logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <h3>Logout</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <form class="form-box">
        <div class="username">
            <label for="username">Username</label>
            <input type="text" name="username" value="<%= user.username %>" readonly>
        </div>
        <div class="caption">
            <label for="caption">Caption</label>
            <input type="text" name="caption">
        </div>
        <div class="body">
            <label for="body">Body</label>
            <textarea name="body" rows="15"></textarea>
        </div>
        <!-- <div class="image">
            <label for="body">Upload Image</label>
            <input type="file" name="image">
        </div> -->
        <div class="button">
            <label for=""></label>
            <button>New Blog</button>
        </div>
    </form>

    <script>
        const form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // get the values
            const user_name = form.username.value;
            const title = form.caption.value;
            const body = form.body.value;

            try {
                const result = await fetch('/newBlog', {
                    method: 'POST',
                    body: JSON.stringify({ user_name, title, body }),
                    headers: { 'Content-Type': 'application/json' }
                })
                const data = await result.json();
                if (data) {
                    location.assign('/home');
                }
                else {
                    location.assign('/newBlog');
                }
            }
            catch (err) {
                console.log(err);
            }
        })
    </script>
</body>

</html>