<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/signup.css">
    <title>BLOG</title>
</head>

<body>
    <div class="wrapper">
        <img src="images/supercars.jpg" alt="" class="main-image">
        <form class="signup-section">
            <h1>Create an account</h1>
            <p>Let's get started with your 30 day free trial</p>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button class="btn">Create account</button>
            <button class="google-btn"><img src="images/google.png" alt="" class="google-img"><a>Sign up with
                    Google</a></button>
            <div class="footer">
                <span>Already have an account?</span>
                <a href="login" class="login-link">Login</a>
            </div>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // get the values
            const username = form.username.value;
            const email = form.email.value;
            const password = form.password.value;

            try{
                const result = await fetch('/registration', {
                    method: 'POST',
                    body: JSON.stringify({ username, email, password}),
                    headers: { 'Content-Type': 'application/json'}
                })

                const data = await result.json();
                if(data.user){
                    location.assign('/login');
                }
                else{
                    location.assign('/registration');
                }
            }
            catch(err){
                console.log(err);
            }
        })
    </script>
</body>

</html>